{

  "project":       "hipflask",
  "organisation":  "mix-tape",
  "github_token":  "CHANGE_ME",
  "starter_theme": "git@github.com:birdbrain/hibiki_new.git",

  "development": {
    "url":         "CHANGE_ME",
    "db_host":     "scotchbox",
    "db_name":     "scotchbox",
    "db_user":     "root",
    "db_password": "root"
  },

  "staging": {
    "db_host":     "CHANGE_ME",
    "db_name":     "CHANGE_ME",
    "db_user":     "CHANGE_ME",
    "db_password": "CHANGE_ME",

    "ssh_host":    "CHANGE_ME",
    "ssh_user":    "CHANGE_ME",

    "deploy_path": "~/httpdocs/CHANGEME"
  },

  "test": {
    "db_host":     "CHANGE_ME",
    "db_name":     "CHANGE_ME",
    "db_user":     "CHANGE_ME",
    "db_password": "CHANGE_ME",

    "ssh_host":    "CHANGE_ME",
    "ssh_user":    "CHANGE_ME",

    "deploy_path": "/var/www/"
  },

  "production": {
    "db_host":     "localhost",
    "db_name":     "CHANGE_ME",
    "db_user":     "CHANGE_ME",
    "db_password": "CHANGE_ME",

    "ssh_host":    "CHANGE_ME",
    "ssh_user":    "CHANGE_ME",

    "deploy_path": "/var/www/"
  }
}
